<div class="container" fxLayout="column" fxLayoutAlign="center">

    <div fxFlex class="header" fxLayout="row" fxLayout.xs="column"
        fxLayoutAlign.xs="center">
        <div fxFlex="5%" class="header-close">
            <button mat-button>
                <mat-icon class="mat-18" routerLink="/contacts">
                    <span class="material-icons">arrow_back</span>
                </mat-icon>
            </button>
        </div>

        <div fxFlex fxLayoutAlign="start center" class="header-image">
            <img mat-card-image
                src={{contact.imagePath}} 
                alt="Contact Image">
        </div>

        <div fxFlex="30%" fxLayout="column" fxLayoutAlign="center"
            class="header-name">

            <mat-card-title>{{contact.first_Name}} {{contact.last_Name}} </mat-card-title>
            <mat-card-subtitle>{{contact.job_Title}}</mat-card-subtitle>
        </div>

        <div fxFlex="50" fxLayout class="header-edit" fxLayoutAlign="start end">


            <mat-card-actions>
                <button mat-button>
                    <mat-icon class="mat-18" routerLink="/contacts"><span
                            class="material-icons">
                            star_border
                        </span></mat-icon>
                </button>
                <button mat-button>
                    <mat-icon class="mat-18" routerLink="/contacts"><span
                            class="material-icons">
                            more_vertma
                        </span></mat-icon>
                </button>
                <button mat-raised-button color="primary" (click)="onEditContact()">Edit</button>
            </mat-card-actions>
        </div>
    </div>

    <mat-divider></mat-divider>

    <div fxFlex class="body">
        <div class="ditails" fxLayout="row" fxLayoutAlign="start" >
            <div fxFlex="50%" class="contact-details">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Contact Details</mat-card-title>
                    </mat-card-header>
                    <mat-card-content fxLayout="column" fxLayoutGap="10px">
                        <div class="mail-details"fxLayout="row" fxLayoutGap="10px">
                            <div  class="icon">
                                <mat-icon >
                                    <span class="material-icons">email</span>
                                </mat-icon>
                            </div>
                            <div  class="item-detail">
                                <span>{{contact.email}}</span>
                            </div>
                            <div  class="item-type">
                                <span>.job</span>
                            </div>
                        </div>

                        <div class="phon-details"fxLayout="row" fxLayoutGap="10px">
                            <div  class="icon">
                                <mat-icon >
                                    <span class="material-icons">phone</span>
                                </mat-icon>
                            </div>
                            <div  class="item-detail">
                                <span>{{contact.phone}}</span>
                            </div>
                            <div  class="item-type">
                                <span>.Mobile</span>
                            </div>
                        </div>

                        <div class="company-details"fxLayout="row" fxLayoutGap="10px">
                            <div  class="icon">
                                <mat-icon >
                                    <span class="material-icons">business</span>
                                </mat-icon>
                            </div>
                            <div  class="item-detail">
                                <span>{{contact.company}}</span>
                            </div>
                            <div  class="item-type">
                                <span>.Company</span>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>

    </div>

</div>