.container {
    width: 100vw;
    height: 100%;
    background-color: #fff;
}

.header {
    // border: 1px solid red;
    width: 100%;
    margin: 10px;
    // height: 30%;

    .close {
        width: 10%;
    }

    .header-image {
        // width: 20%;
        img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            margin: 20px;
        }
    }

    .header-name {
        // // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // width: 20%;
        mat-card-title {
            font-size: xx-large;
        }
        mat-card-subtitle {
            font-size: large;
        }
    }
}

.body {
    // border: 1px solid blue;
    width: 100%;
    height: 70%;
    margin-top: 20px;
}

.item-detail{
    color: #2962ff;
    font-size: 16px;
}