.container {
    width: 100vw;
    height: 100%;
    background-color: #fff;
}

.header {
    width: 100%;
    margin: 10px;

    .close {
        width: 10%;
    }

    .header-image {
        img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            margin: 20px;
        }
    }

    .header-name {
        mat-card-title {
            font-size: xx-large;
        }
        mat-card-subtitle {
            font-size: large;
        }
    }
}

.body {
    width: 100%;
    height: 70%;
    margin-top: 20px;
}

.item-detail{
    color: #2962ff;
    font-size: 16px;
}