<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- <mat-card class="example-card"> -->
                <form [formGroup]='createContactForm' class="example-form"
                    *ngIf="createContactForm"
                    (ngSubmit)="createContactForm.valid && onSubmit()">

                    <div class="row  controlButton">
                        <div class="buttons">
                            <button mat-button>
                                <mat-icon class="mat-18"
                                    routerLink="/contacts">
                                    close</mat-icon>
                            </button>
                        </div>

                        <div class="buttons">

                            <img src={{contact.imagePath}}   alt="Contact-image">
                            <!-- <button mat-raised-button type="button"
                                color="primary"
                                (click)="onClick()">save</button> -->
                        </div>

                        <div class="buttons">
                            <button mat-raised-button type="submit"
                                color="primary"
                                [disabled]="!createContactForm.valid">Submit</button>
                        </div>


                    </div>
                    <mat-divider></mat-divider>

                    <div class="row">
                        <div class="">
                            <mat-icon class="mat-18" matSuffix>person</mat-icon>
                        </div>
                        <div class="form-control col-md-6">
                            <mat-form-field appearance="standard">
                                <mat-label>First Name</mat-label>
                                <input matInput placeholder="first name"
                                    formControlName="first_Name" />
                            </mat-form-field>
                        </div>
                        <div class="">
                            <mat-icon class="mat-18" matSuffix>close</mat-icon>
                        </div>
                    </div>

                    <div class="row">
                        <div class="">
                            <mat-icon class="mat-18" matSuffix>person</mat-icon>
                        </div>
                        <div class="form-control">
                            <mat-form-field appearance="standard">
                                <mat-label>Last Name</mat-label>
                                <input matInput placeholder="last name"
                                    formControlName="last_Name" />
                            </mat-form-field>
                        </div>
                        <div class="">
                            <mat-icon class="mat-18" matSuffix>close</mat-icon>
                        </div>
                    </div>

                    <div class="row">
                        <div class="">
                            <mat-icon class="mat-18" matSuffix>business
                            </mat-icon>
                        </div>
                        <div class="form-control">
                            <mat-form-field appearance="standard">
                                <mat-label>company</mat-label>
                                <input matInput placeholder="Company"
                                    formControlName="company" />
                            </mat-form-field>
                        </div>
                        <div class="">
                            <mat-icon class="mat-18" matSuffix>close</mat-icon>
                        </div>
                    </div>

                    <div class="row">
                        <div class="">
                            <mat-icon class="mat-18" matSuffix>person</mat-icon>
                        </div>
                        <div class="form-control">
                            <mat-form-field appearance="standard">
                                <mat-label>Job Title</mat-label>
                                <input matInput placeholder="Job Title"
                                    formControlName="job_Title" />
                            </mat-form-field>
                        </div>
                        <div class="">
                            <mat-icon class="mat-18" matSuffix>close</mat-icon>
                        </div>
                    </div>

                    <div class="row">
                        <div class="">
                            <mat-icon class="mat-18" matSuffix>email</mat-icon>
                        </div>
                        <div class="form-control">
                            <mat-form-field appearance="standard">
                                <mat-label>Enter your email</mat-label>
                                <input matInput placeholder="pat@example.com"
                                    formControlName="email" />
                                <!-- <mat-error *ngIf="email.invalid">
                                        {{getErrorMessage()}}</mat-error> -->
                            </mat-form-field>
                        </div>
                        <div class="">
                            <mat-icon class="mat-18" matSuffix>close</mat-icon>
                        </div>
                    </div>

                    <div class="row">
                        <div class="">
                            <mat-icon class="mat-18" matSuffix>phone</mat-icon>
                        </div>
                        <div class="form-control">
                            <mat-form-field appearance="standard">
                                <mat-label>phone</mat-label>
                                <input matInput placeholder="phone"
                                    formControlName="phone" />
                            </mat-form-field>
                        </div>
                        <div class="">
                            <mat-icon class="mat-18" matSuffix>close</mat-icon>
                        </div>
                    </div>

                    <div class="row">
                        <div class="">
                            <mat-icon class="mat-18" matSuffix>image</mat-icon>
                        </div>
                        <div class="form-control">
                            <mat-form-field appearance="standard">
                                <mat-label>Image</mat-label>
                                <input matInput placeholder="Image Path"
                                    formControlName="imagePath" />
                            </mat-form-field>
                        </div>
                        <div class="">
                            <mat-icon class="mat-18" matSuffix>close</mat-icon>
                        </div>
                    </div>

                    <div class="row">
                        <div class="">
                            <mat-icon class="mat-18" matSuffix>note</mat-icon>
                        </div>
                        <div class="form-control">

                            <mat-form-field appearance="standard">
                                <mat-label>Notes</mat-label>
                                <input matInput placeholder="Notes"
                                    formControlName="notes" />
                            </mat-form-field>
                        </div>
                        <div class="">
                            <mat-icon class="mat-18" matSuffix>close</mat-icon>
                        </div>
                    </div>

                </form>

                <!-- </mat-card> -->
            </div>

        </div>
    </div>
</div>